<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>
    <name>{{ name }}</name>
    <os>
        <type>hvm</type>
        <kernel>{{ kernel }}</kernel>
        <initrd>{{ initrd }}</initrd>
        <cmdline>append modules=loop,squashfs,sd-mod,usb-storage quiet console=tty0 console=ttyS0,115200</cmdline>
        <boot dev='hd'/>
    </os>
    <cpu mode='host-model' check='partial'>
        <model fallback='allow'/>
    </cpu>
    <vcpu>{{ cpus }}</vcpu>
    <memory unit='MiB'>{{ mem }}</memory>
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>destroy</on_crash>
    <devices>
        <serial type='pty'>
            <target type='isa-serial' port='0'>
                <model name='isa-serial'/>
            </target>
        </serial>
        <console type='pty'>
            <target type='serial' port='0'/>
        </console>
    </devices>
    <qemu:commandline>
        <!-- forward ssh -->
        <qemu:arg value='-netdev' />
        <qemu:arg value='user,id=eth0,hostfwd=tcp::{{ ssh_port }}-:22'/>
        <qemu:arg value='-device'/>
        <qemu:arg value='virtio-net,netdev=eth0'/>
    </qemu:commandline>
</domain>
